.ac-game-menu { 
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/KaEr.jpg");
    background-size: 100% 100%;
    user-select: none;
}

.ac-game-settings {
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/LongQi2.jpg");
    background-size: 100% 100%;
    user-select: none;
}

.ac-game-settings-login {
    height: 45vh;
    width: 20vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 7vh;
}

.ac-game-settings-register {
    height: 45vh;
    width: 20vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 7vh;
}

.ac-game-settings-title {
    color: white;
    font-size: 3vh;
    text-align: center;
    height: 7vh;
    padding-top: 1vh;
}

.ac-game-settings-username {
    display: block;
    height: 7vh;
}

.ac-game-settings-password {
    display: block;
    height: 7vh;
}

.ac-game-settings-submit {
    display: block;
    height: 3vh;

}

.ac-game-settings-errormessage {
    padding-left: 1vw;
    color: red;
    font-size: 1vh;
    display: inline;
    float: left;
}

.ac-game-settings-option {
    color: white;
    font-size: 2vh;
    display: inline;
    float: right;
    padding-right: 1vw;
    cursor: pointer;
}

.ac-game-settings-acwing {
    display: block;
    height: 7vh;
}


.acgame-settings-item {
    width: 100%;
    height: 100%;
    
}

.ac-game-settings-item > input {
    width: 90%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    line-height: 3vh;
}

.ac-game-settings-item > button {
    color: white;
    width: 90%;
    line-height: 3vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #309804;
    border-radius: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.ac-game-settings-acwing > img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    cursor: pointer;
    display: block;
}

.ac-game-settings-acwing > div {
    font-size: 1.5vh;
    text-align: center;
    color: yellowgreen;
    display: block;
}

.ac-game-menu-field {
    width: 20vw;
    position: relative;
    top: 40vh;
    left: 10vw;
}

.ac-game-menu-field-item {
    height: 7vh;
    width: 20vw;
    font-size: 6vh;
    font-style: italic;
    padding: 2vh;
    text-align: center;
    background-color: rgba(39,21,28, 0.6);
    border-radius: 50px;
    letter-spacing: 0.5vw;
    cursor: pointer;
}

.ac-game-menu-field-item:hover {
    transform: scale(1.2);
    transition: 200ms;
}

.title {
    color: red;
    height: 7vh;
    width: 48vw;
    font-size: 6vh;
    font-style: italic;
    padding: 2vh;
    text-align: center;
    letter-spacing: 0.5vw;
    cursor: pointer;
}

.ac-game-playground {
    width: 100%;
    height: 100%;
    user-select: none;
    background-color: gray;
}

.ac-game-playground > canvas {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ac-game-chat-field-history {
    position: absolute;
    top: 66%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 32%;
    color: white;
    font-size: 2vh;
    padding: 5px;
    overflow: auto;
}

.ac-game-chat-field-history::-webkit-scrollbar {
    width: 0;
}

.ac-game-chat-field-input {
    position: absolute;
    top: 86%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 3vh;
    color: white;
    font-size: 2vh;
    background-color: rgba(222, 225, 230, 0.2);
}